.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    background: slateblue;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 36px;
      text-align: center;
      color: #fff;
    }
    .logo {
      display: block;
      width: 100px;
      height: 100px;
    }

    .input-box {
      position: relative;
      width: 75%;
      height: 50px;
      margin: 30px 0;
      input {
        width: 100%;
        height: 100%;
        border: none;
        // margin: 10px;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 20px;
        // padding: 0 10px;
        background: transparent;
        &::placeholder{
          color: #fff;
        }
        &:focus {
          border-color: #4285f4;
          box-shadow: 0 0 8px rgba(66, 133, 244, 0.5);
        }
      }
      .icon{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
      }
    }

    button {
      width: 200px;
      height: 40px; // Slightly larger button for better clickability
      border: none;
      border-radius: 20px;
      background-color: #ff772e;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 30px;

      &:hover {
        background-color: #ff9359;
        transition: background-color 0.5s;
      }
    }

    span {
      font-size: 14px;
      color: red;
      margin-top: 10px;
    }
  }

  // Responsive adjustments
  @media (max-width: 600px) {
    form {
      input,
      button {
        width: 90%; // Makes input and button width responsive
      }
    }
  }
}
