.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    background: #d1feff;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h1 {
      font-size: 36px;
      text-align: center;
      color: #7077a1;
      margin-bottom: 20px;
    }
    .logo {
      display: block;
      width: 200px;
      height: 200px;
    }

    .input-box {
      position: relative;
      width: 75%;
      height: 50px;
      margin: 20px 0;
      input {
        width: 100%;
        height: 100%;
        border: none;
        // margin: 10px;
        border: 2px solid rgba(72, 71, 148, 0.5);
        border-radius: 20px;
        padding: 0 15px;
        background: transparent;
        color: #485392;
        &::placeholder{
          color: #485392;
        }
        &:focus {
          border-color: #ff9359;
          box-shadow: 0 0 8px rgba(66, 133, 244, 0.5);
          outline: none;
        }
      }
      .icon{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: #7077a1;
      }
      .toggle-icon {
        right: 40px; 
        cursor: pointer; 
      }
    }

    button {
      width: 200px;
      height: 40px; // Slightly larger button for better clickability
      border: none;
      border-radius: 20px;
      background-color: #ff772e;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 20px;
      transition: background-color 0.5s;

      &:hover {
        background-color: #ff9359;
      }
    }

    span {
      font-size: 14px;
      color: red;
      margin-top: 10px;
    }
  }

  // Responsive adjustments
  @media (max-width: 600px) {
    form {
      input,
      button {
        width: 90%; // Makes input and button width responsive
      }
    }
  }
}
