.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  color: #555;
  border-bottom: 0.5px solid rgb(230, 227, 227);
  z-index: 998; /* Ensure navbar is below hamburger menu */
  

  .wrapper {
    width: 100%;
    padding: 0 20px; /* Adjusted padding to leave space for hamburger */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        color: #8d96cf;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    font-size: 12px;
    padding-left: 50px; /* Ensure space for the hamburger menu */
    position: fixed; /* Make navbar fixed */
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  }
}
