@import 'react-confirm-alert/src/react-confirm-alert.css';
.datatable {
  height: 600px;
  padding: 20px;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: #00ffbb;
      font-weight: bold;
      font-size: 16px;
      border: 2px solid #00ffbb;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .cellWithImg {
    display: flex;
    align-items: center;
    

    .cellImg {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0px 5px;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: #202b76;
      border: 1px dotted rgba(66, 71, 105, 0.596);
      cursor: pointer;
    }
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}
.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.react-confirm-alert-body {
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  h1{
    margin-bottom: 5px;
  }
}

.react-confirm-alert-button-group  {
  display: flex;
  justify-content: center;
  button{
    background-color: #250d00;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
}

.react-confirm-alert-button-group button:hover {
  background-color: #ff772e;
}

@media (max-width: 768px){
  .datatable {
    .datatableTitle {
      font-size: 22px;
  
      .link {
        font-size: 14px;
      }
    }
    .cellWithImg {
      display: flex;
      align-items: center;
  
      .cellImg {
        width: 20px;
        height: 20px;
        margin: 10px
      }
    }
    .cellAction {
      gap: 5px;
  
      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: #202b76;
        border: 1px dotted rgba(66, 71, 105, 0.596);
        cursor: pointer;
      }
      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(220, 20, 60, 0.6);
        cursor: pointer;
      }
    }
    
  }
}
